.productList {
  flex: 4;
}

.productListItem {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 5px;
}

.productListItem>a{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  color:black;
  text-decoration: none;
  font-weight: bold;
  height: 80%;
  width: 100%;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: red;
  font-weight: 800;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}
